<?xml version="1.0" encoding="utf-8"?>

<!--
<copyright file="App.config" company="Horror">
Copyright (c) 2014 Open source under MIT License
</copyright>
<author>rewso</author>
<date>2014-12-20 05:53</date>
<summary>Class for Horror.Keywords</summary>
-->




<!--
<copyright file="App.config" company="Horror">
Copyright (c) 2014 Open source under MIT License
</copyright>
<author>rewso</author>
<date>2014-12-20 05:53</date>
<summary>Class for Horror.Keywords</summary>
-->


<!--
<copyright file="App.config" company="Vestas">
Copyright (c) 2014  License
</copyright>
<author>rewso</author>
<date>2014-12-20 05:53</date>
<summary>Class for Horror.Keywords</summary>
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
