<?xml version="1.0" encoding="utf-8" ?>
<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <FormatMessagePrefixDependsOn>
      BeforeFormatMessagePrefix;
      CoreFormatMessagePrefix;
      AfterFormatMessagePrefix;
    </FormatMessagePrefixDependsOn>
  </PropertyGroup>

  <Target Name="FormatMessagePrefix" DependsOnTargets="$(FormatMessagePrefixDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeFormatMessagePrefix" />
  <Target Name="AfterFormatMessagePrefix" />

  <Target Name="CoreFormatMessagePrefix" Condition="$(MessagePrefix) == ''">
    
    <MSBuild.ExtensionPack.Framework.TextString TaskAction="Split" String1="$(SolutionName)" String2=" " Condition="$(SolutionName.Contains(' '))">
      <Output ItemName="_Formated_Solution_Name_Tokens" TaskParameter="Strings"/>
    </MSBuild.ExtensionPack.Framework.TextString>
    <MSBuild.ExtensionPack.Framework.MsBuildHelper TaskAction="ItemColToString" InputItems1="@(_Formated_Solution_Name_Tokens)" Separator="." Condition="$(SolutionName.Contains('.'))">
      <Output TaskParameter="OutString" PropertyName="_Formated_Solution_Name"/>
    </MSBuild.ExtensionPack.Framework.MsBuildHelper>

    <PropertyGroup Condition="$(_Formated_Solution_Name) == ''">
      <_Formated_Solution_Name>$(SolutionName)</_Formated_Solution_Name>
    </PropertyGroup>

    <PropertyGroup Condition="$(Environment) != 'local'">
      <MessagePrefix Condition="$(MessagePrefix) == ''">$(ReleaseType)_$(_Formated_Solution_Name) was commited $(Environment)</MessagePrefix>
    </PropertyGroup>

    <PropertyGroup Condition="$(Environment) == 'local'">
      <MessagePrefix Condition="$(MessagePrefix) == ''">$(ReleaseType)_$(_Formated_Solution_Name) was commited $(Environment) '$(COMPUTERNAME)'</MessagePrefix>
    </PropertyGroup>

  </Target>
  
</Project>
