<?xml version="1.0" encoding="utf-8"?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CommitGitDependsOn>
      FormatMessage;
      BeforeCommitGit;
      CoreCommitGit;
      AfterCommitGit;
    </CommitGitDependsOn>
  </PropertyGroup>

  <Target Name="CommitGit" DependsOnTargets="$(CommitGitDependsOn)" Condition="$(CanCreateLabel) == 'true'" />

  <!-- To be overriden by the user -->
  <Target Name="BeforeCommitGit" />
  <Target Name="AfterCommitGit" />

  <Target Name="CoreCommitGit">

    <Error Text="The Git runner was not specified" Condition="$(GitRunner) == ''" />
    <Error Text="The Git runner was not found" Condition="!Exists($(GitRunner))" />
    <Error Text="The 'MessageContent' is required to commit" Condition="$(MessageContent) == ''" />

    <Exec Command="&quot;$(GitRunner)&quot; commit -a -m &quot;$(MessageContent)&quot;" WorkingDirectory="$(GlobalRootPath)" />
	
    
  </Target>
  
</Project>
